{% extends 'ecg/senbase.html' %}

{% block title %}Nueva señal{% endblock %}
{% block link %}<a class="nav-link" href="{% url 'registros:señales' user.username %}">Ver registros<span class="sr-only">(current)</span></a>{% endblock %}

{% load static %}

{% block search %}
<span id="device-name" class="name" style="display:none;">Dispositivo</span>

<a href="{% url 'registros:senalesExp' signal.experimento.id %}" class="boton btnFold">
    <i class="material-icons">folder</i>
</a>

<button class="boton" id="connect" type="button" aria-label="Connect">
    <i class="material-icons">bluetooth_connected</i>
</button>

<button class="boton" id="disconnect" type="button" aria-label="Disconnect">
    <i class="material-icons">bluetooth_disabled</i>
</button>

<button class="boton" id="download">
    <i class="material-icons">cloud_download</i>
</button>
{% endblock %}

{% block content %}
<div class="menu">
    <div id="terminal" class="terminal"></div>

    <div class="eventosRT">
        {% if signal.categoria == 'Electrocardiograma' %}
            <span class="#">LPM</span>
        {% elif signal.categoria == 'Electromiograma' %}
            <span class="#">Evento</span>
        {% elif signal.categoria == 'Oximetría' %}
            <span class="#">Evento</span>
        {% elif signal.categoria == 'Fonocardiograma' %}
            <span class="#">LPM</span>
        {% else %}
            <span class="#">Estado</span>
        {% endif %}

        <h5 id="respuesta" class="resp">0</h5>
    </div>

    <div class="segundos">
        <h5 id="tiempo">0</h5>
        <span class="unidad">segundos</span>
    </div>

    <button id="enviar" class="#" style="display:none;">Enviar</button>

</div>

<div class="content">
    <h5 class="nombreSenal">{{signal.categoria}} de {{signal.nombre}}</h5>
    <div id="chart" class="#">
        <div id="demo_chart" class="#">

                <!--<canvas class="card-text" id="realtime" width="400" height="150" style="margin-left:-4%;"></canvas>-->

        </div>
    </div>

    <div class="modal">
        <div class="modal-content modalSenal">
            <span class="close">&times;</span>
            <h5 class="modalText">Señal guardada</h5>
        </div>
    </div>

    <script src="{% static 'ecg/js/realtime.js' %}"></script>
</div>

<div class="footer">
    <form id="send-form" class="send-form mr-0" style="display:none;"> <!--style="display:none;"-->

        <input id="input" type="text" aria-label="Input" autocomplete="off" placeholder="Tiempo de muestreo">

        <button class="mr-0 mb-1" type="submit" aria-label="Send">
            <i class="material-icons mt-1">send</i>
        </button>

    </form>

    <div class="opcionesSenal">
        <button id="start" class="circleBtn opc" type="submit">
            <i class="material-icons">play_arrow</i>
        </button>

        <button id="stop" class="circleBtn opc" type="submit">
            <i class="material-icons">stop</i>
        </button>

        <button id="guardar" class="circleBtn opc">
            <i class="material-icons">save</i>
        </button>
    </div>

    <!--<script src="{% static 'ecg/js/chartRT.js' %}"></script>-->
    <script src="{% static 'ecg/js/post.js' %}"></script>
</div>

{% endblock %}
