/***********************************************
GENERAL
***********************************************/
body {
  margin: 0;
  padding: 0;
  background-color: #05547b;
}

a {
  text-decoration: none;
}

/***********************************************
 CONTAINER
***********************************************/
.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 8vh 10vh 82vh;
}

/***********************************************
 HEADER
***********************************************/
header {
  grid-column: 1/-1;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

header img {
  grid-column: 5/6;
  display: block;
  margin: 0 auto;
}

.subheader {
  grid-column: 1/-1;
  background-color:#05547b;
}

/***********************************************
 MAIN
***********************************************/
main {
  grid-column: 1/-1;
  background-color:#05547b;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 40px 40px auto 180px;
}

.biosignals {
  grid-column: 4/6;
  margin-top: 10px;
  display: block;
  margin: 0 auto;
}

.biosignals img {
  margin-top: 10px;
  max-width: 80px;
}

.mensaje {
  grid-column: 3/7;
  padding-top: 15px;
  display: block;
  margin: 0 auto;
  margin-bottom: 13px;
  border-radius: 10px;
  color: #c2b8b2;
}

.mensaje span {
  margin: 0 auto;
  margin-top: 5px;
  text-align: center;
  font-size: 0.8em;
  box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.2);
}

.plot {
  grid-column: 3/8;
  background-color: #05547b;
  margin-top: 10px;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 30px auto;
  box-shadow: -5px 0px 1px 0px rgba(0,0,0,0.2);
}

.plot span {
  display: block;
  margin: 2px auto;
  color: #c2b8b2;
  text-align: center;
  border-bottom: 1px solid #fff;
}

/***********************************************
 OPCIONES
***********************************************/
.opciones {
  grid-column: 3/7;
  display: flex;
  flex-direction: column;
  margin: 5px auto;
  margin-bottom: 10px;
  text-align: center;
  color: #c2b8b2;
}

.opciones a {
  text-decoration: none;
  margin: 8px auto;
  padding-top: 8px;
  background-color: #197bbd;
  border-radius: 5px;
  color: #c2b8b2;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
/*
.opciones .edit-user {
  padding-bottom: 10px;
  font-size: 0.8em;
}
*/
/***********************************************
FORM SIGN UP / LOG IN
***********************************************/
.form-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.form {
  grid-column: 2/3;
  display: block;
  margin: 0 auto;
  margin-top: 60px;
}

.form img {
  width: 72px;
  height: 72px;
  display: block;
  margin: 0 auto;
}

.form h1 {
  color: #e3f2fd;
  text-align: center;
}

.form-field {
  text-align: center;
}

.form-field label {
  color: #9fa8da;
}

.form-field input {
  border: none; outline: none;
  margin: 7px 0;
  border-radius: 10px;
  width: 300px;
  height: 40px;
  text-align: center;
}

.form button {
  border: none; outline: none;
  width: 100px;
  display: block;
  margin: 15px auto;
  border-radius: 10px;
  width: 300px;
  height: 35px;
}

.form button:hover {
  background-color: #1976d2;
}

.return {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: #9fa8da;
  margin: 0 auto;
}

.return span {
  padding-top: 3px;
}

/*********************************************
VISTA PARA OTROS DISPOSITIVOS
*********************************************/
@media screen and (min-width: 250px) {
  .opciones a {
    width: 150px;
    height: 25px;
}

  .biosignals img {
    /*display: none;*/
    padding-top: 13px;
  }

  .mensaje span {
    font-size: 0.8em;
  }
}

@media screen and (min-width: 600px) {
  .opciones a {
    width: 250px;
    height: 25px;
}

  .biosignals img {
    display: block;
    padding-top: 10px;
  }

  .mensaje {
    padding-top: 20px;
  }

  .mensaje span {
    font-size: 1.2em;
  }

  .form  {
    margin-top: 20px;
  }
  
}

@media screen and (min-width: 800px) {
  .form  {
    margin-top: 60px;
  }
}
