/***********************************************
GENERAL
***********************************************/
body {
  margin: 0;
  padding: 0;
  background-color:#05547b;
}

a {
  text-decoration: none;
}

/***********************************************
BIENVENIDA
***********************************************/
.homeContent {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 10vh 40vh 10vh 10vh 25vh 5vh;
}

.prim {
  grid-column: 1/-1;
}

.logo {
  grid-column: 2/7;
  font-family: 'Lobster', cursive;
  color: #fff;
  font-weight: 400;
  margin: 20px auto;
  text-align: center;
}

.biosignals {
  grid-column: 3/6;
  font-family: 'Lobster', cursive;
  color: #fff;
  font-weight: 400;
  margin: 20px auto;
  text-align: center;
}

.sesion {
  grid-column: 3/6;
  text-align: center;
  color: #90caf9;
}

.bienvUser i {
  color:#bbdefb;
}

.botones {
  grid-column: 2/7;
  margin: 0 auto;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.left {
  grid-column: 2/3;
}

.right {
  grid-column: 3/4;
}

.btn {
  grid-row: 2/3;
  background-color:#bbdefb;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.btn:hover {
  background-color:#e3f2fd;
}

/***********************************************
FORM SIGN UP / LOG IN
***********************************************/
.form-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.form {
  grid-column: 2/3;
  display: block;
  margin: 0 auto;
  margin-top: 60px;
}

.form img {
  width: 72px;
  height: 72px;
  display: block;
  margin: 0 auto;
}

.form h1 {
  color: #e3f2fd;
  text-align: center;
}

.form-field {
  text-align: center;
}

.form-field label {
  color: #9fa8da;
}

.form-field input {
  border: none; outline: none;
  margin: 7px 0;
  border-radius: 10px;
  width: 300px;
  height: 40px;
  text-align: center;
}

.form button {
  border: none; outline: none;
  width: 100px;
  display: block;
  margin: 15px auto;
  border-radius: 10px;
  width: 300px;
  height: 35px;
}

.form button:hover {
  background-color: #1976d2;
}

/*********************************************
VISTA PARA OTROS DISPOSITIVOS
*********************************************/
@media screen and (min-width: 250px) {
  .logo {
    font-size: 6em;
    margin-top: 80px;
  }

  .biosignals {
    font-size: 1.5em;
    margin-top: 0;
  }

  .btn {
    padding: 10px;
  }

}

@media screen and (min-width: 600px) {
  .logo {
    font-size: 7em;
    margin-top: 20px;
  }

  .biosignals {
    font-size: 1.5em;
    margin-top: 0;
  }

  .sesion {
    margin-top: 15px;
  }

  .btn {
    padding: 8px;
  }

  .form  {
    margin-top: 20px;
  }
}

@media screen and (min-width: 800px) {
  .logo {
    font-size: 9em;
  }

  .biosignals {
    font-size: 2em;
  }

  .sesion {
    margin-top: 9%;
  }

  .btn {
    padding: 15px;
  }

  .form  {
    margin-top: 60px;
  }
}
