body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/******************************************************************
GRID LAYOUT
******************************************************************/
.wrapper {
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 8vh 6vh 78vh 8vh;

}

/******************************************************************
ENCABEZADO
******************************************************************/
.header {
    grid-column: 1 / -1;
    background-color: #3E64CE;
    border-bottom: 3px solid #9e9e9e; /*Color del borde del encabezado*/
}

.opcionesNav {
    display: flex;
}

.lesathLogo {
    font-family: 'Lobster', cursive;
    color: #EBEBF2;
    font-size: 1.8em;
    margin: 0.4% 3.5%;
    margin-left: 6%;
}

.lesathLogo:hover, .btnFold:hover {
    color: #fff;
    text-decoration: none;
}

.boton, .boton:active {
    background: none;
    border: none;
    color: #fff;
    padding: 12px;
}

#device-name {
    color: #fff;
}

/******************************************************************
MENU DE LA SEÑAL
******************************************************************/
.menu {
    grid-column: 1 / -1;
    background-color: #284084;
    display: flex;
}

.terminal {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-width: 1px 0;
    flex-grow: 1;
    overflow: auto;
    padding: 4px 0; 
    color: #EBEBF2;
}

.terminal div {
    color: #9E9E9E;
    line-height: 1;
    padding: 4px 8px;
    word-break: break-word; 
}
.terminal div.out {
    color: #F44336; 
}
.terminal div.in {
    color: #2196F3; 
}

.eventosRT {
    display: flex;
    margin-top: 0.5%;
    margin-right: 4%;
    color: #EBEBF2;
}

.resp {
    margin-left: 20%;
}

.segundos {
    display:flex;
    margin-top: 0.5%;
    margin-right: 7%;
    color: #EBEBF2;
}

.unidad {
    margin-left: 10%;
}

/******************************************************************
GRAFICA DE LA SEÑAL
******************************************************************/
.content {
    grid-column: 1 / -1;
    background-color: #e0e3da;
}

.nombreSenal {
    text-align: center;
}

/*CSS Graficas*/
#chart, #chartContainer {
    position: relative;
    max-width: 95vw;
    margin-right: 0;
    padding: 0;
  }
  
#demo_chart, #chartSenal {
    position: relative;
}

#y_axis {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
    height: 500px;
}

#x_axis {
	position: relative;
	/*left: 40px;*/
    height: 40px;
    width: 80%;
    margin-left: 40px;
}

/* MODAL */
.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
     /* Could be more or less, depending on screen size */
    display: grid;
    grid-template-columns: 2fr 6fr 1fr;
    grid-template-areas: "imagen detalles cerrar";
  }

  .modalText {
    grid-area: detalles;
  }

  /* The Close Button */
  .close {
    grid-area: cerrar;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

/******************************************************************
OPCIONES DE REGISTRO DE LA SEÑAL
******************************************************************/
.footer {
    grid-column: 1 / -1;
    background-color: #e0e3da;
}

.opcionesSenal {
    margin-top: -0.5%;
}

.circleBtn{
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    text-decoration: none;
    color: #FFF;
    width: 50px;
    height: 50px;
    line-height: 30px;
    padding: 5px;
    font-size: 25px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    box-shadow: inset 0 2px 0px rgba(255, 255, 255, 0.25), inset 0 -2px 0px rgba(0, 0, 0, 0.18);
    transition: .2s;
}

.circleBtn:hover{
    box-shadow: none;
}

.circleBtn.opc{
    background: #3E64CE;
    border: solid 5px #3E64CE;
    margin-left: 2%;
    margin-right: 2%;
}

.send-form {
    display: flex;
    flex-shrink: 0;
    height: 6vh; 
    margin-top: 12vh;
    width: 70vw;
    margin: 0;
    float: left;
}

.send-form input {
    background: none;
    border: none;
    color: rgba(0, 0, 0, 0.87);
    flex-grow: 1;
    font: normal 16px/1.5 'Roboto Mono', monospace;
    padding: 0 8px;
    width: 80%;
    margin-right: 1vw;
}
.send-form input::placeholder {
    color: rgba(0, 0, 0, 0.54); 
}
.send-form button, .send-data button {
    border: none;
    flex-shrink: 0; 
    background-color:#3E64CE; 
    border-radius: 100%;
    color: #141313;
}

.send-data button {
    float: right;
    margin-bottom: -2%;
}



/****************************
Dashboard
*****************************/
.dashboard {
    width: 100%;
    /*border: #05547b 1px solid;*/
    margin-top: 55px;
    height: 90vh;
}

.rowdash {
    height: 91.6vh;
}

.col-1 {
    margin-top: 0;
    background-color: #463F3F;
} 

.col-1 ul {
    width: 100%;
    margin: 0;
    list-style: none;
    text-align: center;
}

.col-1 li {
}

/******************************************************************
VISTA PARA OTROS DISPOSITIVOS
******************************************************************/

/*Vista para móvil*/
@media screen and (min-width: 300px) {
    
    .botones {
        margin-left: 10%;
    }

    .opcSenalView {
        margin-left: 100px;
    }

    .evtSenal {
        margin-top: 6px;
        margin-right: 48px;
    }

    .evtEDM {
        margin-top: 5px;
        margin-right: 125px;
    }

    #chart, #chartContainer {
        max-width: 89vw;
        height: 500px;
    }

    #demo_chart, #chartSenal {
        left: 10px;
    }

    .opcionesSenal {
        margin-left: 23%;
    }

    .modalSenal {
        width: 80%;
    }
}

/*Vista para tablet*/
@media screen and (min-width: 600px) {
    .wrapper {
        grid-template-rows: 13vh 7vh 73vh 7vh;
    }

    .botones {
        margin-left: 43%;
    }

    .opcSenalView {
        margin-left: 105px;
    }

    .evtSenal {
        margin-top: 0.5px;
        margin-right: 60px;
    }

    .evtEDM {
        margin-top: -1.2px;
        margin-right: 260px;
    }

    #chart, #chartContainer {
        max-width: 90vw;
        height: 215px;
    }

    #demo_chart, #chartSenal {
        position: relative;
        left: 15px;
    }

    .opcionesSenal {
        margin-top: -4.5%;
        margin-left: 35%;
    }

    .modalSenal {
        width: 80%;
    }
}

/*Vista para desktop*/
@media screen and (min-width: 800px) {
    .wrapper {
        grid-template-rows: 8vh 6vh 78vh 8vh;
    }

    .botones {
        margin-left: 64%;
    }

    .opcSenalView {
        margin-left: 80px;
    }

    .evtSenal {
        margin-top: 6px;
        margin-right: 137px;
    }

    .evtEDM {
        margin-top: 6px;
        margin-right: 102px;
    }

    #chart, #chartContainer {
        max-width: 95vw;
        height: 500px;
    }

    #demo_chart, #chartSenal {
        position: relative;
        left: 20px;
    }

    .opcionesSenal {
        margin-top: -0.5%;
        margin-left: 41%;
    }

    .modalSenal {
        width: 30%;
    }
}