/*************************************************
GENERAL
*************************************************/
body {
    margin: 0;
    padding: 0;
    background-color: #c2b8b2;
}

a {
    text-decoration: none;
}

/*************************************************
Contenedor principal
*************************************************/
.container {
    width: 100%;
    height: 100vh;

    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(4, minmax(auto-fit, 1fr));
    grid-template-rows: 8vh 10vh 69vh 3vh 10vh;
}

/*************************************************
HEADER
*************************************************/
.header {
    background-color: #197bbd;
    border-bottom: 3px solid #686963;
    grid-column: 1/-1;

    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.logo {
    grid-column: 2 / 3;

    display: block;
    margin: 3% auto;
    font-family: 'Lobster', cursive;
    font-weight: 400;
    font-size: 1.7em;
    color: #CEE7E6;
}

.biosignals {
    grid-column: 5 / 6;

    display: block;
    margin: 3% auto;

    font-family: 'Lobster', cursive;
    font-weight: 400;
    font-size: 1.7em;
    color: #CEE7E6;
}

.bluetooth {
    grid-column: 8 / 9;

    display: flex;
    margin: 10px auto;
    color: #CEE7E6;
}

.bluetooth span {
    margin-right: 10px;
}

.bluetooth span:hover {
    cursor: pointer;
}

.bluetooth a {
    color: #CEE7E6;
}

#edit {
    margin-top: -5px;
}

/*************************************************
SUBHEADER
*************************************************/
.subheader {
    background-color:#c2b8b2; /*#125e8a*/
    grid-column: 1/-1;   

    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.events {
    grid-column: 4 / 5;
    background-color: #0F084B;

    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 4%;
    width: 60px;
    height: 40px;
    border-radius: 10px;
}

.terminal {
    grid-column: 5 / 6;

    display: block;
    margin: 3% auto;
    font-size: 0.6em;
    color: #125e8a;
    text-align: center;
}

.vista-select {
    margin: 8px auto;
    border-radius: 10px;
}

.vista-select > option {
    text-align: center;
}

.timer {
    grid-column: 6 / 7;
    background-color: #0F084B;

    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 4%;
    width: 60px;
    height: 40px;
    border-radius: 10px;
}

.event-name, .timer-title {
    margin: 0 auto;
    margin-top: 7px;
    color: #C2B8B2;
    font-size: 0.61em;
}

.event-value, .timer-value {
    margin: 0 auto;
    margin-top: 2px;
    color: #C2B8B2;
    font-size: 0.8em;
}


/*************************************************
PLOT
*************************************************/
.plot {
    background-color: #c2b8b2;
    grid-column: 1/-1;

    display: grid;
    grid-template-columns: repeat(9, 1fr);
    padding-top: 5px;
}

.plot h6 {
    color: #c2b8b2;
    grid-column: 4/7;
    font-size: 0.8em;
    margin: 5px 0;
    margin-bottom: 15px;
    padding: 3px;
    border-radius: 10px;
    text-align: center;
}

#saving {
    grid-column: 4/7;
    background-color: #125e8a;
    color: #C2B8B2;
    border-radius: 10px;
    max-height: 15px;
    width: 60px;
    font-size: 0.65em;
    text-align: center;
    margin: 0 auto;
    padding: 1px;
    display: none;
}

#signal-id {
    display: none;
}

#chart {
    grid-column: 2/-1;
}

#y-axis {
    grid-column: 1/2;
    max-width: 45px; 
}

.volts{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin-top: 150px;
    margin-left: -10px;
    font-weight: 400;
    position: absolute;
  }  

/*************************************************
FRECUENCIA
*************************************************/
.frecuencia {
    grid-column: 1/-1;
    background-color: #c2b8b2;
    display: inline-block;
    font-size: 0.8em;
    text-align: center;
    margin-top: 1px;
    margin-top: 2px;
}

.frecuencia select {
    padding: 1px;
}

/*************************************************
BOTONES
*************************************************/
.buttons {
    background-color: #c2b8b2;
    grid-column: 1/-1;

    display: grid;
    grid-template-columns: repeat(9, 1fr);
    z-index: 1;
}

.play {
    grid-column: 4 / 5;
    background-color: #197bbd;
    color: #c2b8b2;

    display: block;
    margin: 0 auto;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
}

.stop, .pause { 
    grid-column: 5 / 6;
    background-color: #197bbd;
    color: #c2b8b2;

    display: block;
    margin: 0 auto;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
}

.save, .replay {
    grid-column: 6 / 7;
    background-color: #197bbd;
    color: #c2b8b2;

    display: block;
    margin: 0 auto;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
}

.buttons button:active {
    background-color: #0F084B;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}

/******************************************
MODAL
******************************************/
.modal {
    background-color: #1976d2;
    z-index: 1;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: #1976d2;
    width: 60%;
    margin: 10% auto;
    padding: 23px;
    border-radius: 15px;
    border: 1px solid #888;
  
    display: grid;
    grid-template-rows: 50px auto;
  }
  
  .modal-content .close {
    display: block;
    margin: 0 auto;
    background-color: #bbdefb;
    border: #00796b 1px solid;
    color: #1976d2;
  
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
  }
  
  .modal-content .close i,
  .closeEdit i {
    padding-top: 7px;
  }
  
  .modal-content .close:hover {
    background-color: #fafafa;
  }

  .modal-content h2, a {
      text-align: center;
      color: #c2b8b2;
  }

/**************************************
Ajuste para otros dispositivos
**************************************/
@media (min-width: 250px) {
    .container {
        grid-template-rows: 8vh 8vh 69vh 5vh 10vh;
    }

    .biosignals {
        display: none;
    }

    .subheader div {
        margin: 0 20px;
        margin-top: 4%;
    }

    .buttons button {
        margin: 0 5px;
    }

    #y-axis {
        margin-left: 1px;
    }

    .volts{
        margin-top: 155px;
        margin-left: 1px;
        font-size: 0.7em;
        font-weight: 500;
    }

    .plot h6 {
        color: #c2b8b2;
        grid-column: 3/8;
        font-size: 0.65em;
        margin: 0;
        margin-bottom: 5px;
        padding: 3px;
        border-radius: 10px;
        text-align: center;
    }

    .logo img {
        display: block;  
        margin: 6px auto;
        max-width: 63px;
    }

    #edit {
        margin-top: -7px;
    }

}

@media (min-width: 450px) {
    .container {
        grid-template-rows: 8vh 8vh 69vh 5vh 10vh;
    }

    .biosignals {
        display: block;
    }

    .volts{
        margin-top: 152px;
        margin-left: -3px;
        font-size: 0.8em;
    }

    .plot h6 {
        color: #c2b8b2;
        grid-column: 4/7;
        font-size: 0.8em;
        margin: 5px 0;
        margin-bottom: 10px;
        padding: 3px;
        border-radius: 10px;
        text-align: center;
    }

    .logo img, 
    .biosignals img {
        display: block;  
        margin: 4px auto;
        max-width: 77px;
    }
}

@media (min-width: 600px) {
    .container {
        grid-template-rows: 8vh 8vh 69vh 5vh 10vh;
    }

    .biosignals {
        display: block;
    }

    .buttons button {
        margin: 0 auto;
    }

    #y-axis {
        margin-left: 35px;
    }

    .volts{
        margin-top: 177px;
        margin-left: -7px;
        font-size: 0.8em;
    }

    .subheader div {
        margin: 0 auto;
        margin-top: 4%;
    }

    .logo img {
        display: block;  
        margin: 8px auto;
        max-width: 77px;
    }

    .biosignals img {
        display: block;  
        margin: 8px auto;
        max-width: 200px;
    }

    #edit {
        margin-top: -7px;
    }
}

@media (min-width: 800px) {
    .container {
        grid-template-rows: 8vh 8vh 69vh 5vh 10vh;
    }

    .biosignals img {
        display: block;  
        margin: 10px auto;
        max-width: 200px;
    }

    .volts{
        margin-top: 177px;
        margin-left: -7px;
        font-size: 0.8em;
    }
}

@media (min-width: 1024px) {
    #y-axis {
        margin-left: 103px;
    }

    .volts{
        margin-top: 145px;
        margin-left: -7px;
        font-size: 0.8em;
    }

    .bluetooth span {
        margin-top: 3px;
    }
}

@media (min-width: 1200px) {
    .container {
        grid-template-rows: 8vh 8vh 69vh 5vh 10vh;
    }

    .logo img {
        display: block;  
        margin: 3px auto;
        max-width: 77px;
    }

    .biosignals img {
        display: block;  
        margin: 4px auto;
        max-width: 200px;
    }

    .volts{
        margin-top: 147px;
        margin-left: -7px;
        font-size: 0.8em;
    }

    #edit {
        margin-top: -5px;
    }
}


@media screen and (max-height: 350px) {
    .container {
        grid-template-rows: 14vh 15vh 47vh 9vh 15vh;
    }

    .plot {
        padding-top: 5px;
    }

    .volts {
        margin-top: 35px;
        margin-left: 1px;
        font-size: 0.8em;
    }

    .frecuencia {
        padding-bottom: 5px;
    }
}