/******************************************
GENERAL
******************************************/
body {
  margin: 0;
  padding: 0;
  background-color: #e0f2f1;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/******************************************
LAYOUT
******************************************/
.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 8vh auto;
}

/******************************************
HEADER
******************************************/
.header {
  grid-column: 1/-1;
  border-bottom: 3px solid #9e9e9e;
  position: fixed;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, minmax(30px, 1fr));
}

.logo {
  grid-column: 1/3;
  background-color:#284084;
}

.logo span {
  color: #e0e0e0;
  font-family: 'Lobster', cursive;
  font-weight: 400;
  font-size: 1.4em;
  text-align: center;
  display: block;
  margin: 5px auto;
}

.user-options {
  grid-column: 3/-1;
  background-color: #1976d2;
  display: grid;
  grid-template-columns: repeat(8, minmax(30px, 1fr));
}

.user-info {
  grid-column: 2/6;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 4px;
}

.user-info img {
  width: 30px;
  height: 30px;
  margin: 0 22px;
}

.user-info span {
  color: white;
  margin: 6px;
  text-align: center;
}

/******************************************
DROPDOWN LINKS
******************************************/
.drop-btn {
  background-color: #1976d2;
  color: white;
  border: none;
  margin-left: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 2px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fafafa;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #01579b;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.drop-btn i:hover {
  color: #01579b;
}

/******************************************
MAIN
******************************************/
.main {
  grid-column: 1/-1;
  background-color: #e0f2f1;
  display: grid;
  grid-template-columns: repeat(5, minmax(60px, 1fr));
}

.content {
  grid-column: 2/5;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}

.add {
  grid-column: 5/6;
  margin-top: 52%;
  margin-left: 90%;
  position: fixed;

  background-color: #1976d2;
  border: #00796b 1px solid;
  color: #e0f2f1;

  width: 50px;
  height: 50px;
  border-radius: 50%;

}

.add:hover {
  background-color: #01579b;
}

/******************************************
CONTENT CARDS
******************************************/
.card {
  height: 200px;
  border-radius: 10px;
  background-color: #e0f2f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-top: 12px;
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 40px auto 40px;
}

.card-header {
  grid-column: 1/-1;
  background-color: #01579b;
  border-radius: 10px 10px 0 0;
}

.card-header h6 {
  text-align: center;
  margin: 8px auto;
  font-size: 0.9em;
}

.card-header a {
  color: #fafafa;
}

.card-empty {
  height: 50px;
  background-color: #01579b;
  border-radius: 10px 10px 0 0;
}

.card-empty h6 {
  text-align: center;
  margin: 8px auto;
  padding-top: 12px;
  font-size: 1em;
  color: #fafafa;
}

.card-content {
  grid-column: 1/-1;
  background-color: #fafafa;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card-content h6 {
  text-align: center;
  margin: 8px auto;
  color: #00695c;
  font-size: 0.8em;
}

.detalle p {
  font-size: 0.75em;
  text-align: center;
}

.detalle {
  grid-column: 1/2;
  border-right: 1px solid #9e9e9e;
}

.colaboradores {
  grid-column: 2/3;
  border-right: 1px solid #9e9e9e;
}

.colaboradores-list {
  font-size: 0.75em;
  list-style: none;
}

.muestras {
  grid-column: 3/-1;
}

.muestras p {
  margin: 0 auto;
  text-align: center;
  font-size: 3em;
  font-weight: 400;
}

.card-footer {
  grid-column: 1/-1;
  background-color: #039be5;
  border-radius:  0 0 10px 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card-footer h6 {
  grid-column: 1/2;
  text-align: center;
  margin: 13px auto;
  color: #004d40;
  font-size: 0.75em;
}

.card-footer .options {
  grid-column: 3/-1;
  text-align: center;
  margin-top: 7px;
}

.card-footer a {
  color: #80cbc4;
}

.btn-delete {
  border: none;
  background-color: #039be5;
  color: #80cbc4;
}

/******************************************
MODAL FORM
******************************************/
.modal {
  background-color: #1976d2;
  z-index: 1;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #1976d2;
  width: 60%;
  margin: 10% auto;
  padding: 23px;
  border: 1px solid #888;

  display: grid;
  grid-template-rows: 50px auto;
}

.modal-content .close {
  display: block;
  margin: 0 auto;
  background-color: #bbdefb;
  border: #00796b 1px solid;
  color: #1976d2;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
}

.modal-content .close i {
  padding-top: 7px;
}

.modal-content .close:hover {
  background-color: #fafafa;
}

.form {
  display: block;
  margin: 0 auto;
}

.form img {
  width: 72px;
  height: 72px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

.form h1 {
  color: #fafafa;
  text-align: center;
}

.form-field {
  text-align: center;
}

.form-field label {
  color: #fafafa;
}

.form-field input {
  border: none; outline: none;
  background-color: #bbdefb;
  color: #009688;
  margin: 4px 0;
  border-radius: 10px;
  width: 300px;
  height: 30px;
  text-align: center;
}

.form-field textarea {
  background-color: #bbdefb;
  color: #009688;
}

.form-field select{
  border: none; outline: none;
  background-color: #bbdefb;
  color: #009688;
  margin: 10px 0;
  border-radius: 10px;
  width: 300px;
  height: 30px;
  text-align: center;
}

.select2-container {
  padding-bottom: 20px;
  padding-top: 5px;
}

.select2-selection {
  background-color: #bbdefb;
  color: #009688;
  width: 90%;
}

.select2-selection__arrow {
  display: none;
}

.form button {
  border: none; outline: none;
  background-color: #bbdefb;
  color: #009688;
  width: 100px;
  display: block;
  margin: 8px auto;
  border-radius: 10px;
  width: 300px;
  height: 35px;
}

.form button:hover {
  background-color: #01579b;
}

/******************************************
FORM-COLABORACIONES
******************************************/

/******************************************
VISTA PARA OTROS DISPOSITIVOS
******************************************/

@media screen and (min-width: 250px) {
  .content {
    width: 100%;
  }

  .add {
    margin-top: 560px;
    margin-left: 83%;
  }

  .card-footer h6 {
    font-size: 0.48em;
  }
  
  .user-info {
    grid-column: 1/4;
  }

  .modal-content {
    width: 81%;
  }

  .form span {
    margin: 0 auto;
    font-size: 1em;
  }

}

@media screen and (min-width: 600px) {
  .content {
    width: 90%;
  }

  .add {
    margin-top: 46%;
    margin-left: 85%;
  }

  .card-footer h6 {
    font-size: 0.6em;
  }

  .user-info {
    grid-column: 2/6;
  }

  .modal-content {
    width: 60%;
  }
}

@media screen and (min-width: 800px) {
  .content {
    width: 90%;
  }

  .add {
    margin-top: 300px;
    margin-left: 85%;
  }

  .card-footer h6 {
    font-size: 0.7em;
  }

  .user-info {
    grid-column: 2/6;
  }

  .modal-content {
    width: 60%;
  }

}

@media screen and (min-width: 1100px) {
  .add {
    margin-top: 42%;
    margin-left: 90%;
  }

  .modal-content {
    width: 45%;
  }
}