<div class="modal">
  <div class="modal-content">
      <span class="close">
        <i class="material-icons">close</i>
      </span>

      <form class="form" action="" method="post" 
      enctype="multipart/form-data">
      
        <h1 class="logoColab">Crear nueva colaboración</h1>
        
        {% csrf_token %}
        
        <div class="form-field">
        <label for="id_experimento">Proyecto</label>
        <br>
        {{ form.experimento }}
        </div>
        
        <div class="form-field">
        <label for="id_colaborador">Colaborador</label>
        <br>
        {{ form.colaborador }}
        </div>
        
        <button type="submit">Crear colaboración</button>
      </form>
      
      {{ form.media }}
  </div>
</div>




