{% extends 'ecg/formbase.html' %}

{% block title %}Nueva colaboración{% endblock %}

{% block content %}

<form class="form-signin text-center d-block p-2" action="" method="post" enctype="multipart/form-data">
  <h1 class="logo">Lesath</h1>
  {% csrf_token %}
  <div class="mb-4">
    <label class="mb-2" for="id_experimento">Proyecto</label>
    {{ form.experimento }}
  </div>
  <div class="mb-4">
    <label class="mb-2" for="id_colaborador">Colaborador</label>
    {{ form.colaborador }}
  </div>
  <button type="submit" class="btn btn-primary mt-2">Crear colaboración</button>
</form>

{{ form.media }}
{% endblock %}
