{% extends 'ecg/senbase.html' %}

{% block title %}Resumen ECG{% endblock %}

{% load static %}

{% block search %}
{% endblock %}
        
{% block content %}
<div class="dashboard">
    <div class="row mt-0 rowdash">
        <div class="col-1">
            
        </div>
        <div class="col-11">
            <script>
                let labels = {{ labels }};
                let muestras = {{ data }};
                let categoria = 'Electrodérmica';
            </script>

            <div class="card-deck h-40">
                <div class="card  mt-1">
                    <div class="card-header h-5">
                        Gráfica 1
                        <button id="return" class="btn btn-secondary btn-sm mt-0 mr-2 ml-4">
                                <i class="material-icons">
                                    keyboard_arrow_left
                                </i>
                            </button>
                        <button id="scroll" class="btn btn-secondary btn-sm mt-0 mr-2">
                            <i class="material-icons">
                                keyboard_arrow_right
                            </i>
                        </button>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title mt-0">{{signal.nombre}}</h5>
                        <canvas class="card-text" id="myChart" width="400" height="100"></canvas>
                    </div>
                </div>

                <div class="card text-white bg-warning mb-3 mt-2" style="max-width: 8rem; max-height: 7rem;">
                    <h6 class="card-header">Evento</h6>
                    <div class="card-body">
                        <h5 class="card-title" style="font-size:0.9rem">{{res}}</h5>
                    </div>
                </div>

                
            </div>
            

            <div class="card-deck h-40">
                <div class="card  mt-1">
                    <div class="card-header h-5">
                        Gráfica 2
                        <button id="#" class="btn btn-secondary btn-sm mt-0 mr-2 ml-4">
                                <i class="material-icons">
                                    keyboard_arrow_left
                                </i>
                            </button>
                        <button id="#" class="btn btn-secondary btn-sm mt-0 mr-2">
                            <i class="material-icons">
                                keyboard_arrow_right
                            </i>
                        </button>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{signal.nombre}}</h5>
                        <canvas class="card-text" id="myChart" width="400" height="100"></canvas>
                    </div>
                </div>

                <div class="card text-white bg-warning mb-3 mt-2" style="max-width: 8rem; max-height: 7rem;">
                        <h6 class="card-header">Evento</h6>
                        <div class="card-body">
                            <h5 class="card-title">Dato</h5>
                            <p class="card-text"></p>
                        </div>
                    </div>
                
            </div>
            
        </div>
    </div>
    <script src="{% static 'ecg/js/graf.js' %}"></script>
</div>


{% endblock %}




