{% extends 'ecg/userbase.html' %}

{% block content %}
{% for experimento in experimentos %}
<div class="card mx-1 my-2">
  <div class="card-body">
    <!--{{ forloop.counter }} -->
    <h5 class="card-title">
      <a href="{% url 'registros:senalesExp' experimento.id %}">{{experimento.nombre}}</a>
    </h5>

    <h6>Colaboradores:</h6>
    <br>
    <p class="card-text">
      {% for colaboracion in experimento.colaboracion_set.all%}
        {{colaboracion.colaborador}}
      {% endfor %}
    </p>

    <p class="card-text">
      señales: {{ experimento.signal_set.all.count }}
    </p>

    <a class="#" href="#">
        <i class="material-icons">edit</i>
    </a>
    <a class="#" href="#">
        <i class="material-icons">delete</i>
    </a>
    <a class="#" href="#">
        <i class="material-icons">note_add</i>
    </a>
    <br>
    {{experimento.detalle}}

  </div>
  <div class="card-footer">
    <small class="#">
      {{experimento.fecha}}
    </small>

  </div>
</div>
{% endfor %}

{% endblock %}

{% block add %}
{% include "ecg/experimento_form.html" %}
{% endblock %}

{% block title %}Experimentos{% endblock %}
{% block link %}
<button class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#proyecto">
    Nuevo proyecto
</button>
{% endblock %}

{% block dashName %}Dashboard{% endblock %}
{% block activePr %}active{% endblock %}
