{% extends 'ecg/senbase.html' %}

{% block title %}Nuevo registro{% endblock %}
{% block link %}<a class="nav-link" href="{% url 'registros:señales' user.username %}">Ver registros<span class="sr-only">(current)</span></a>{% endblock %}

{% load static %}

{% block search %}
<div class="toolbar">

    <!--<a href="#" class="name">{{key}}</a>-->
    <div id="device-name" class="name">Dispositivo</div>

    <div class="buttons">

        <button class="but connect" id="connect" type="button" aria-label="Connect">
            <i class="material-icons">bluetooth_connected</i>
        </button>

        <button class="but" id="disconnect" type="button" aria-label="Disconnect">
            <i class="material-icons">bluetooth_disabled</i>
        </button>

        <button class="but mr-0" id="download">Descargar CSV</button>

    </div>

</div>
{% endblock %}

{% block content %}
<main role="main" class=" text-center mr-0">
    <div class="row">
        <div class="col-10">
            <div id="chart" class="mt-2 ml-2 mr-1 card h-85 w-76">
                <div class="card-header">
                    <h5 class="card-title mt-0">{{signal.categoria}} de {{signal.nombre}}</h5>
                </div>
                <div id="demo_chart" class="card-body mt-1 ml-0">

                        <!--<canvas class="card-text" id="realtime" width="400" height="150" style="margin-left:-4%;"></canvas>-->

                </div>
            </div>
            <script src="{% static 'ecg/js/realtime.js' %}"></script>
        </div>

        <div class="col-2 mt-0">
            <div id="terminal" class="terminal"></div>
            <button id="enviar" class="btn btn-secondary btn-sm mt-1 mr-2">Enviar</button>
            <button id="guardar" class="btn btn-secondary btn-sm mt-1 mr-2">Guardar</button>

            <div class="card text-white bg-primary mt-4 mb-3 ml-4" style="max-width: 11rem;">
                {% if signal.categoria == 'Electrocardiograma' %}
                    <div class="card-header">LPM</div>
                {% elif signal.categoria == 'Electromiograma' %}
                    <div class="card-header">Evento</div>
                {% elif signal.categoria == 'Oximetría' %}
                    <div class="card-header">Evento</div>
                {% elif signal.categoria == 'Fonocardiograma' %}
                    <div class="card-header">LPM</div>
                {% else %}
                    <div class="card-header">Estado</div>
                {% endif %}
                <div class="card-body">
                  <h5 id="respuesta" class="card-title">0</h5>
                </div>
            </div>

            <div class="card text-white bg-primary mt-4 mb-3 ml-4" style="max-width: 11rem;">
                <div class="card-header">Segundos</div>
                <div class="card-body">
                  <h5 id="tiempo" class="card-title"></h5>
                </div>
            </div>
        </div>

    </div>
    <div class="send-data">
        <form id="send-form" class="send-form mr-0" style="display:none;"> <!--style="display:none;"-->

            <input id="input" type="text" aria-label="Input" autocomplete="off" placeholder="Tiempo de muestreo">

            <button class="mr-0 mb-1" type="submit" aria-label="Send">
                <i class="material-icons mt-1">send</i>
            </button>

        </form>
        <button id="start" class="inicio" type="submit" aria-label="#">
            <i class="material-icons mt-1">play_arrow</i>
        </button>

        <button id="stop" class="final" type="submit" aria-label="#">
            <i class="material-icons mt-1">stop</i>
        </button>
    </div>
    <!--<script src="{% static 'ecg/js/chartRT.js' %}"></script>-->
    <script src="{% static 'ecg/js/post.js' %}"></script>

</main>

{% endblock %}
