{% extends 'ecg/userbase.html' %}

{% block content %}
{% for senal in senales %}
<div class="card mx-1 my-2">
  <div class="card-body">
    <!--{{ forloop.counter }}-->
    {% if senal.muestras == 0 %}
      <span class="badge badge-pill badge-light" onclick="alert('Esta señal no tiene muestras')">{{senal.nombre}} &nbsp {{senal.categoria}}</span>
    {% else %}
      {% if senal.categoria == 'Electrocardiograma' %}
          <a class="nombre" href="{% url 'registros:ecg' senal.id %}">
              <span class="badge badge-pill badge-danger">{{senal.nombre}} &nbsp {{senal.categoria}}</span>
          </a>
      {% elif senal.categoria == 'Electromiograma' %}
          <a class="nombre" href="{% url 'registros:emg' senal.id %}">
              <span class="badge badge-pill badge-primary">{{senal.nombre}} &nbsp {{senal.categoria}}</span>
          </a>
      {% elif senal.categoria == 'Oximetría' %}
          <span class="badge badge-pill badge-success">{{senal.nombre}} &nbsp {{senal.categoria}}</span>

      {% elif senal.categoria == 'Fonocardiograma' %}
          <a class="nombre" href="{% url 'registros:fcg' senal.id %}">
              <span class="badge badge-pill badge-dark">{{senal.nombre}} &nbsp {{senal.categoria}}</span>
          </a>

      {% else %}
          <a class="nombre" href="{% url 'registros:edm' senal.id %}">
              <span class="badge badge-pill badge-warning">{{senal.nombre}} &nbsp {{senal.categoria}}</span>
          </a>
      {% endif %}
    {% endif %}
    <div class="card-text">
      <ul class="cardlist pl-0">
        <li>
          Muestras: {{senal.muestras}}
        </li>
        <li>
          {% if senal.muestras == 0 %}
          <a class="#" href="{% url 'registros:nueva' senal.id %}">
              <i class="material-icons">note_add</i>
          </a>
          <a class="#" href="{% url 'registros:eliminar' senal.id %}">
            <i class="material-icons">delete</i>
          </a>
          {% else %}
          <a class="#" href="{% url 'registros:editar' senal.id %}">
              <i class="material-icons">edit</i>
          </a>
          <a class="#" href="{% url 'registros:eliminar' senal.id %}">
              <i class="material-icons">delete</i>
          </a>
          <a class="#" href="{% url 'registros:nueva' senal.id %}">
              <i class="material-icons">note_add</i>
          </a>
          {% endif %}
        </li>
      </ul>
    </div>

  </div>
  <div class="card-footer">
    <small class="#">
      {{senal.fecha}}
    </small>

  </div>
</div>
{% endfor %}

{% endblock %}

{% block add %}
{% include "ecg/signal_form.html" %}
{% endblock %}

{% block dashName %}
{% with senal1=senales.first %}
    {{ senal1.experimento }}
{% endwith %}
{% endblock %}

{% block title %}Experimentos{% endblock %}
{% block link %}
<button class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#signal">
    Nueva señal
</button>
{% endblock %}

{% block activePr %}active{% endblock %}
