{% extends 'ecg/senbase.html' %}

{% block title %}Registros{% endblock %}
{% block link %}
<button class="btn btn-secondary btn-sm mt-1 mr-2" data-toggle="modal" data-target="#signal">
    Nuevo registro
</button>

{% endblock %}

{% block search %}
    <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
{% endblock %}

{% block content %}
<main role="main" class="container principal text-center">
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Bioseñal</th>
            <th scope="col">Fecha de registro</th>
            <th scope="col">Muestras</th>
            </tr>
        </thead>
        <tbody>
        {% for signal in signals %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td><a class="nombre" href="#">{{signal.nombre}}</a></td>
            <td>
                {% if signal.categoria == 'Electrocardiograma' %}
                    <span class="badge badge-pill badge-danger">{{signal.categoria}}</span>

                {% elif signal.categoria == 'Electromiograma' %}
                    <span class="badge badge-pill badge-primary">{{signal.categoria}}</span>

                {% elif signal.categoria == 'Oximetría' %}
                    <span class="badge badge-pill badge-success">{{signal.categoria}}</span>

                {% elif signal.categoria == 'Fonocardiograma' %}
                    <span class="badge badge-pill badge-dark">{{signal.categoria}}</span>

                {% else %}
                    <span class="badge badge-pill badge-warning">{{signal.categoria}}</span>
                {% endif %}
            </td>
            <td>{{signal.fecha}}</td>
            <td class="mx-0 pr-0">{{signal.muestras}}</td>

            <td>
                {% if signal.muestras == 0 %}
                <a class="#" href="{% url 'registros:nueva' signal.id %}">
                    <i class="material-icons">note_add</i>
                </a>   
                {% else %}
                <a class="#" href="#">
                    <i class="material-icons">edit</i>
                </a>  
                <a class="#" href="#">
                    <i class="material-icons">delete</i>
                </a>  
                {% endif %}
            </td>
            
        </tr>
        {% endfor %}
        </tbody>
    </table>
</main>
{% include "ecg/signal_form.html" %}
{% endblock %}
