<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Fuentes -->
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

    <!-- CSS Rickshaw -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/rickshaw/1.6.3/rickshaw.min.css" rel="stylesheet">

    {% load static %}
    <link rel="icon" href="{% static 'ecg/img/logo.png' %}">
    <!-- Custom styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'ecg/css/regist.css' %}">
    

  </head>

  <body>
    <!-- Header -->
    <nav class="navbar navbar-expand-md fixed-top encabezado">
        <a class="logo" href="{% url 'home' %}">Lesath</a>
        <button class="navbar-toggler buscar" style="background-color: #3E64CE;" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style="color: #fff;"></span>
        </button>

        <div class="collapse navbar-collapse text-white" id="navbarCollapse" style="background-color: #3E64CE;">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active ml-2">
                  <a href="{% url 'registros:senalesExp' signal.experimento.id %}">Ver señales</a>
                </li>
            </ul>
            {% block search %}
            {% endblock %}
        </div>
    </nav>

    <!-- Librerias para graficar -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.2.0/d3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rickshaw/1.6.5/rickshaw.js"></script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    {% block content %}
    {% endblock %} 

    <!-- BT y plot JavaScript -->
    <script src="{% static 'ecg/js/BluetoothTerminal.js' %}"></script>
    <script src="{% static 'ecg/js/main.js' %}"></script>
    
  </body>
</html>