<div class="modal">
    <div class="modal-content">
        <span class="close">
            <i class="material-icons">close</i>
        </span>
        
        <form class="form" action="" method="post" 
              enctype="multipart/form-data">

            <h1>Nueva señal</h1>
            {% csrf_token %}

            {% for field in form %}

                <div class="form-field">
                    <span>{{ field.errors }}</span>
                    {{ field.label_tag }}
                    <br>
                    {{ field }}
                </div>
        
            {% endfor %}
            
            <button type="submit" class="">Guardar</button>
        </form>
    </div>
</div>