<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--Fuente-->
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% load static %}

    <!--Custom CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'ecg/css/userbase.css' %}">

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <!-- HEADER -->
    <nav class="navbar navbar-dark fixed-top bg-primary flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0 logo" href="{% url 'home' %}">Lesath</a>

      <ul class="nav opciones">
        <li class="nav-item">
          <img class="mt-1" src="{% static 'ecg/img/avatar.png' %}" width="30" height="30" alt="">
        </li>

        <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             {{user.username}}
           </a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
             <a class="dropdown-item" href="#">Perfil</a>
             <a class="dropdown-item" href="{% url 'registros:experimentos' user.username %}">Proyectos</a>
             <a class="dropdown-item" href="{% url 'logout' %}">Salir</a>
           </div>
        </li>
      </ul>
    </nav>

    <!-- HEADER -->

    <!-- CONTENIDO -->
    <div class="container-fluid">
      <div class="row">

        <!-- SIDEBAR -->
        <nav class="col-md-2 d-none d-md-block sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column opcionesBar mt-2">
              <li class="nav-item">
                <a class="nav-link {% block activePr %}{% endblock %} mt-2" href="{% url 'registros:experimentos' user.username %}">
                  Proyectos
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% block activeC %}{% endblock %}" href="{% url 'registros:colaboracion' user.username %}">
                  Colaboraciones
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Perfil
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Electrocardiogramas
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Electromiogramas
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Fonocardiogramas
                </a>
              </li>
            </ul>
          </div>
        </nav>
        <!-- SIDEBAR -->

        <!-- CONTENIDO PRINCIPAL -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <!-- SUBENCABEZDO -->
          <div class="subEnc d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-2">
            <h1 class="h2">{% block dashName %}{% endblock %}</h1>
            {% block link %}{% endblock %}
          </div>
          {% block add %}
          {% endblock %}
          <!-- SUBENCABEZDO -->

          <!-- CARTAS -->
          <div class="card-group">
            {% block content %}
            {% endblock %}


          </div>
          <!-- CARTAS -->

        </main>
      </div>
    </div>
    <!-- CONTENIDO -->

    <!-- Librerias para graficar -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.2.0/d3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rickshaw/1.6.5/rickshaw.js"></script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>

    <!-- BT y plot JavaScript -->
    <script src="{% static 'ecg/js/BluetoothTerminal.js' %}"></script>
    <script src="{% static 'ecg/js/main.js' %}"></script>
  </body>
</html>
