<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>

    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Fuentes 
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    -->

    <!-- RICKSHAW CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/rickshaw/1.6.3/rickshaw.min.css" rel="stylesheet">

    {% load static %}

    <link rel="icon" href="{% static 'img/logo.png' %}">
    
    <!-- Custom styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/sign.css' %}">
  </head>

  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.2.0/d3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rickshaw/1.6.5/rickshaw.js"></script>
    
    {% block content %}
    {% endblock %} 
  </body>
</html>