{% extends 'base.html' %}

{% block title %}Lesath{% endblock %}
{% load static %}

{% block content %}
<div class="container">
    <header>
        <img src="{% static 'img/lesath_h.png' %}" alt="">
    </header>
    <div class="subheader"></div>
    <main>
        <div class="biosignals">
            <img src="{% static 'img/biosignals.png' %}" alt="">
        </div>
        
        <div class="mensaje">
            <span>Registra y analiza bioseñales</span>
        </div>

        <div class="plot">
            
            <div id="chart"></div>
        </div>

        {% if user.is_authenticated %}
          <div class="opciones">
              <a class="edit-user" href="{% url 'useredit' user.id %}">
                <span>Hola {{ user.username }}!</span>
                <!--<i class="material-icons">edit</i>-->
              </a>
              
              <a href="{% url 'registros:experimentos' user.username %}">
                Ver experimentos
              </a>

              <a href="{% url 'logout' %}">Salir</a>
          </div>
        {% else %}
        <div class="opciones">
            <a href="{% url 'login' %}">Inicia sesión</a>
            <span>o</span>
            <a href="{% url 'signup' %}">Crea una cuenta</a>
        </div>
        {% endif %}
    </main>
</div>
<script src="{% static 'js/app.js' %}"></script>
{% endblock %}
