{% extends 'base.html' %}

{% block title %}Lesath{% endblock %}
{% load static %}

{% block content %}
<div class="homeContent">
  
  <div class="appName">
    <h5 class="logo">
      Lesath
    </h5>
    <h5 class="biosig">
      Biosignals
    </h5>
  </div>
  
  <div class="sesion">
    {% if user.is_authenticated %}
    <div class="bienvUser">
      Hola {{ user.username }}!
      <a class="#" href="{% url 'useredit' user.id %}">
        <i class="material-icons">edit</i>
      </a>
    </div>

    <br>

    <!--<li><a class="btn btn-outline-primary mx-1" href="{% url 'registros:señales' user.username %}">
      Señales registradas</a></li>-->
    <a class="btn btn-light" href="{% url 'registros:experimentos' user.username %}">
        Experimentos
    </a>

    <a class="btn btn-light" href="{% url 'logout' %}">
        Salir
    </a>
  
    {% else %}

    <a class="btn btn-light" href="{% url 'login' %}">
      Iniciar sesión
    </a>

    <a class="btn btn-light" href="{% url 'signup' %}">
      Crear cuenta
    </a>

    {% endif %}
  </div>
  
</div>

{% endblock %}
